.PlanetDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.PlanetDetails img {
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    object-fit: cover;
    opacity: 93%;

}

.PlanetDetails p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: white;
    opacity: 76%;
    padding: 10px;
}

.PlanetDetails h1 {
    color: beige;
    white-space: nowrap;
    /* -webkit-text-stroke:.3px black; */
    /* -webkit-text-fill-color:darkcyan; */
    font-family: "Bebas Neue";
    text-shadow:     
    0 0 11px black ;
}