@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.PlanetsList img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: .5rem;
}

.PlanetsList {  
    color: darkcyan;
}

.PlanetsList h1 {
    text-align: center;
    color: beige;
    white-space: nowrap;
    /* -webkit-text-stroke:.3px black; */
    /* -webkit-text-fill-color:darkcyan; */

    text-shadow:     
    0 0 11px black ;
}

.PlanetsList ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style:none;
    padding-right: 2.2rem;
}

.PlanetsList li {
    display: flex;
    text-align: center;
    font-family: "Bebas Neue";
}



