.PlanetsList img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: .5rem;
}

.PlanetsList {  
    color: darkcyan;
}

.PlanetsList h1 {
    text-align: center;

}

.PlanetsList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style:lower-greek;
}

.PlanetsList li {
padding: .5rem;
text-align: center;
}


