a {
    text-decoration:none;
   }

.Header nav:hover {
    text-transform:lowercase;
}

.Header {
    border-radius: 2rem;
    height: 2rem;
    background-color:black;
    opacity: 72%;

}

.Header nav {
    margin: 1rem;
    margin-bottom: .4rem;
}
