a {
    text-decoration:none;
   }

a .home{
    margin: 1000px;
}

.Header:hover {
    text-transform:lowercase;
}

.Header {
    border-radius: 2rem;
    height: 2rem;
    background-color:black;
    opacity: 72%;
}

.Header nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-bottom: .4rem;
}









