a {
    text-decoration:none;
   }

.Header:hover {
    text-transform:lowercase;
}

.Header {
    border-radius: 2rem;
    height: 2rem;
    background-color:black;
    opacity: 72%;
}

.Header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    margin-bottom: .4rem;
}

enter-link a:hover{
    color: yellow;
}








