a:hover {
    color:violet;
    font-size: 20px;
}

.Home {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 25vw;
    padding: 2rem;
    text-shadow:     
    0 0 11px beige;
}

.Home h1 {
    color: beige;
    font-family:'Cormorant SC';
    white-space: nowrap;
    /* -webkit-text-stroke:.3px black; */
    /* -webkit-text-fill-color:darkcyan; */
    text-shadow:     
    0 0 10 30px black ;
} 



/* a enter-link:hover{
    color:tomato
}

a .Link .enter-link{
    font-size: 500px;
} */