.Home {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 25vw;
    padding: 2rem;
}

.Home h1 {
    color: darkcyan;
}

.Home Link {
    color: white;
}