.Home {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 25vw;
    padding: 2rem;
}

.Home h1 {
    /* color: darkcyan; */
    white-space: nowrap;
    -webkit-text-stroke:.3px beige;
    -webkit-text-fill-color:darkcyan;

    text-shadow:    
        0 0 4px darkviolet ;
 
}

