.EditPlanets h1 {
    font-family:'Cormorant SC';
    text-align: center;
    color: beige;
    white-space: nowrap;
    /* -webkit-text-stroke:.3px black; */
    /* -webkit-text-fill-color:darkcyan; */

    text-shadow:     
    0 0 20px beige ;
}