.PlanetForm form {
    display: flex;
    flex-direction: column;
}

.PlanetForm{
    text-align: center;
    padding: 5rem;  
}

.PlanetForm label{
    display:grid;
    margin: .8rem;
    border-radius: 3px;
    background-color: white;
    opacity: 88%;
    padding: .2rem;
    /* width: 20vw auto; */
}

.PlanetForm label input {
    margin: .3rem;
    background-color: lightgoldenrodyellow;
    padding: .2rem;
}